#title{
    background-color: #ff4c68;
    color: #fff;
    

}
.container_fluid{

    padding: 3% 15% 10%;
 
}
#h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}

h2{
    font-size: large;
    font-style: italic;
}

h3{
    font-style: italic;
}

.rotated {
    width: 60%;
    transform: rotate(30deg); /* Equal to rotateZ(45deg) */
    position: absolute;
    right: 30%;
   
  }

  #features{

    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
}

.feature_box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
     
  
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonials_img{

    width: 20%;
    border-radius: 100%;
    padding: 20px;
    
    
}
#press{
    
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
    
}
.press_log{
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing{
    padding: 50px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 10% 15% 10%;
    font-size: 3.5rem;
    line-height: 1.5;
    
    
}

#footer{
    background-color: #fff;
    text-align: center;
    padding: 5% 15% 10%;
    font-size: 2.5rem;
    
}

@media (max-width:1000px){
    
    #title{
        text-align: center;
    }

    .rotated{
        position: static;
        transform: rotate(0);
    }
}
/* 
  #features{
    font-size: 2rem;
    padding-top: 3%;
    padding-left: 15%;
    
     
  }

  .fa-solid:hover {
    background-color: #ff4c68;
}  */